<form method="post" action="display">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
Name<input type="text" name="array[name]">
State<input type="number" name="array[state]">
Candidate<input type="number" name="array[candidate]">
<button>Set</button>
</form>
